:root {
  --bg-color: rgba(63, 14, 4, 100%);
}

@media (min-width: 1020px) {
  #container {
    width: 80%;
    display: flex;
    margin: 3% auto;
  }

  body {
    background-color: var(--bg-color);
  }

  #billie {
    background: url('../assets/imgs/billie-eilish.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 50%;
    border-bottom-left-radius: 10px;
  }

  #container-content {
    background: rgba(12, 0, 0, 100%);
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3% 0;
  }

  input[type='text'] {
    width: calc(80% - 40px);
    align-self: center;
  }

  input[type='password'] {
    width: calc(80% - 40px);
    align-self: center;
  }

  #container-form #buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    width: 400px;
  }

  #container-form #buttons .button {
    width: 252px;
    height: 60px;
  }

  #login {
    margin-right: 20px;
  }
  #create-account {
    margin-left: 20px;
  }

  #text-form {
    justify-content: center;
  }

  #text-form a {
    margin-left: 100px;
  }
}
